body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #111;
  padding: 10px;
  text-align: center;
}

.simple-nav {
    padding: 20px;
}

.simple-nav a {
    color: var(--primary-blue);
    text-decoration: none;
    font-weight: bold;
}

header h1 {
  margin: 0;
}

main {
  padding: 20px;
}

.post {
  border: 1px solid white;
  padding: 50px;
  margin-bottom: 20px;
  background-color: #111;
}

.post h2 {
  margin-top: 0;
}